<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >学生教务管理系统</span>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ><a href="../show">学生信息 <span class="sr-only">(current)</span></a></li>
                <li><a href="../show/courseSelection">网上选课</a></li>
                <li><a href="../show/coursemanagement">课程管理</a></li>
                <li><a href="../show/scores">课程成绩</a></li>
                {if session("login")["adm"]==1}
                <li><a href="../show/administrators" style="color: red">管理员通道</a></li>
                {/if}
                <li style="padding-left: 50px"><marquee width="400px" direction="left"><font size=+1 color=red>{:session("notice")}</font></marquee></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="list-group-item" style="border: none;color: red">您好！{:session("login")["name"]}</li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">设置 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="../show/information">个人信息</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../show/exit">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
